.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-container {
  width: auto;
  border: 1px solid rgba(95, 110, 132, 0.2);
  border-radius: 0.3rem;
  color: var(--text-secondary);
  font-size: 0.9rem;
  overflow: hidden;
}

.input-container > input {
  border: none;
  outline: none;
  color: var(--text-secondary);
  font-size: 0.9rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
}

.input-container > .prefix {
  background-color: #f7f9fd;
  height: inherit;
  border-right: 1px solid rgba(95, 110, 132, 0.2);
  padding: 1rem;
}

.input > label {
  font-size: var(--f-small);
  margin-bottom: 5px;
  font-weight: 500;
  color: var(--text-secondary-dark);
}

.optional-text {
  font-size: var(--f-x-small);
  color: var(--text-subdued);
}
