.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--f-small);
  gap: 0.75rem;

  border: 1px solid var(--subdued-gray);
  border-radius: 0.35rem;

  width: 9rem;
  padding: 1.25rem;
  cursor: pointer;
}

.card.active {
  border: 1px solid var(--primary-color);
}

.card > img {
  height: 1rem;
  aspect-ratio: 1;
}

.card-title {
  font-weight: bold;
  color: var(--text-primary);
}

.card-description {
  font-size: var(--f-x-small);
  color: var(--text-secondary);
}
