.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.logo > img {
  height: 2.5rem;
  aspect-ratio: 1;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.6rem;
}

/* utils */

.sub-text {
  font-size: var(--f-small);
  color: var(--text-secondary);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.flex-justify-center {
  justify-content: center;
}
